{% load static %}{% load compress %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Automating Workload Deployment">

	<title>iManage</title>
	<script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0-rc.1/jquery-ui.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	<script src="http://malsup.github.io/jquery.blockUI.js"></script>


	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0-rc.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">


	<!--[if lte IE 8]>
				<link rel="stylesheet" href="{% static 'css/layouts/side-menu-old-ie.css' %}">
			<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="{% static 'css/layouts/side-menu.css' %}">
	<!--<![endif]-->
	<script>
		$(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
		$(document).ready(function(){

			$.ajax({
				 url:"/GetNodes/",
				 dataType: 'json',
				 success:function(json){
					 for(i=0;i<json.length;i++){
					 	node = json[i];
					 	if(node.selected == "true"){
					 		$("#nodes").append("<option value="+node.id+" selected>"+node.name+"("+node.ip+")</option>");
					 	}else{
					 		$("#nodes").append("<option value="+node.id+">"+node.name+"("+node.ip+")</option>");
					 	}
					 }
					 populateImages();
				 }
			});

			$("#nodes").change(function(){
				$.ajax({
					 url:"/ChangeNode/?id="+$("#nodes").val(),
					 dataType: 'json',
					 success:function(json){
						 location.reload();
					 }
				});
			});


		});

		function populateImages(){
			$.ajax({
				 url:"/GetImages/",
				 dataType: 'json',
				 success:function(json){
					 data = json.content;
					 for(i=0;i<data.length;i++){
					 	image = data[i];
					 	tr="<tr>";

					 	var date = new Date(image.Created*1000);
					 	var curr_date = date.getDate();
						var curr_month = date.getMonth() + 1; //Months are zero based
						var curr_year = date.getFullYear();


					 	tr+="<td>"+image.RepoTags+"</td>";
					 	tr+="<td>"+image.RepoTags+"</td>";
					 	tr+="<td>"+(image.Size/(1024*1024)).toFixed(2)+" MB</td>";
					 	tr+="<td>"+curr_date + "-" + curr_month + "-" + curr_year+"</td>";
					 	tr+="<td><a class='btn btn-danger' href='#' onclick='deleteImage(\""+image.RepoTags+"\")'>Delete</a></td>";
						$("#imageTable").find("tbody").append(tr);
					 }
					 $('#imageTable').DataTable({
					 	"pageLength": 5
					 });

				 }
			});
		}

		function populateContainers(){
			$.ajax({
				 url:"/GetContainers/",
				 dataType: 'json',
				 success:function(json){
					 data = json.content;
					for(i=0;i<data.length;i++){
					 	container = data[i];
					 	tr="<tr>";

					 	var date = new Date(container.Created*1000);
					 	var curr_date = date.getDate();
						var curr_month = date.getMonth() + 1; //Months are zero based
						var curr_year = date.getFullYear();


					 	tr+="<td>"+container.Image+"</td>";
					 	tr+="<td>"+container.Command+"</td>";
					 	tr+="<td>"+curr_date + "-" + curr_month + "-" + curr_year+"</td>";
					 	tr+="<td>"+container.Status+"</td>";

						portData="";

					 	for(j=0;j<container.Ports.length;j++){
					 		port = container.Ports[j];
					 		portData+="Type: "+port.Type+"<br/>";
					 		portData+="PublicPort: "+port.PublicPort+"<br/>";
					 		portData+="PrivatePort: "+port.PrivatePort+"<br/>";
					 	}

					 	tr+="<td>"+portData+"</td>";
					 	tr+="<td>"+container.Names+"</td>";
					 	tr+="<td><a class='btn btn-success' href='#' onclick='startContainer(\""+container.Id+"\")'>Start</a></td>";
						tr+="<td><a class='btn btn-primary' href='#' onclick='viewContainer(\""+container.Id+"\")'>View</a></td>";
						tr+="<td><a class='btn btn-danger' href='#' onclick='killContainer(\""+container.Id+"\")'>Kill</a></td>";
						tr+="<td><a class='btn btn-danger' href='#' onclick='deleteContainer(\""+container.Id+"\")'>Remove</a></td>";
						$("#containerTable").find("tbody").append(tr);
					 }

					 $('#containerTable').DataTable({
					 	"pageLength": 5
					 });

				 }
			});
		}

		function deleteImage(name){
			$.ajax({
				 url:"/DeleteImage/?name="+name,
				 dataType: 'json',
				 success:function(json){
				 	alert(json.content);
				 	location.reload();
				 }
			});
		}

		function killContainer(id){
			$.ajax({
				 url:"/KillContainer/?id="+id,
				 dataType: 'json',
				 success:function(json){
				 	alert(json.content);
				 	location.reload();
				 }
			});
		}

		function deleteContainer(id){
			$.ajax({
				 url:"/DeleteContainer/?id="+id,
				 dataType: 'json',
				 success:function(json){
				 	alert(json.content);
				 	location.reload();
				 }
			});
		}

		function startContainer(id){
			$.ajax({
				 url:"/StartContainer/?id="+id,
				 dataType: 'json',
				 success:function(json){
				 	alert(json.content);
				 	location.reload();
				 }
			});
		}

		function viewContainer(id){
			$.ajax({
				 url:"/AttachContainer/?id="+id,
				 dataType: 'json',
				 success:function(json){
				 	alert(json.content);

				 	$("#statusModal").modal("show");
				 }
			});
		}

	</script>

	<style>
		.content {
			max-width: 100% !important;
		}

		.odd {
			background-color: #f0f0f0 !important;
		}

		.pure-menu-selected1{
			 background: #6f6f6f none repeat scroll 0 0;
		}
	</style>
    <script>
		$(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
		$(document).ready(function (){

			$.ajax({
				 url:"/GetImages/",
				 dataType: 'json',
				 success:function(json){
					 data = json.content;
					 for(i=0;i<data.length;i++){
					 	image = data[i];
					 	option="<option value='" + image.RepoTags + "'>" + image.RepoTags + "</option>";

						$("#imageSelect").append(option);
					 }
				 }
			});

			$("#deployContainer").click(function(){
				name = $("#containername").val();
				image = $("#imageSelect").val();
				commands = $("#commands").val();
				environments = $("#environments").val();
				volumes = $("#volumes").val();

				$.ajax({
					 url:"/RunContainer/?name="+name+"&image="+image+"&commands="+commands+"&environments="+environments+"&volumes="+volumes,
					 dataType: 'json',
					 success:function(json){
						 data = json.content;
						 alert(data);
					 }
				});
			});
        });
	</script>
</head>
<body>
	<div id="layout">
		<!-- Menu toggle -->
		<a href="#menu" id="menuLink" class="menu-link"> <!-- Hamburger icon -->
			<span></span>
		</a>

		<div id="menu" style="width:165px";>
			<div class="pure-menu">
				<a class="pure-menu-heading" href="/" style="text-transform: none;">iManage</a>
				<ul class="pure-menu-list">
					<li class="pure-menu-heading" style="background: transparent none repeat scroll 0% 0%; padding: 0px;">Openstack</li>
					<li class="pure-menu-item ">
						<a href="/Images" class="pure-menu-link">Upload Image</a></li>
					<li class="pure-menu-item">
						<a href="/app_deployment/" class="pure-menu-link">Application Deployment</a></li>
					<li class="pure-menu-item">
						<a href="/Migrate" class="pure-menu-link">Live Migration</a></li>
					<li class="pure-menu-item">
						<a href="/VNFCatalog" class="pure-menu-link">VNF Catalog</a></li>
					<li class="pure-menu-item">
						<a href="/VNFManager" class="pure-menu-link">VNF Manager</a></li>


					<li class="pure-menu-heading" style="background: transparent none repeat scroll 0% 0%; padding: 0px;">Docker</li>
					<li class="pure-menu-item"><a href="/Nodes" class="pure-menu-link">Node Management</a></li>
					<li class="pure-menu-item"><a href="/Manage"
						class="pure-menu-link">Images and Containers</a></li>
					<li class="pure-menu-item"><a href="/Build"
						class="pure-menu-link">Build</a></li>
					<li class="pure-menu-item pure-menu-selected1"><a href="/Deploy"
						class="pure-menu-link">Deploy</a></li>

				</ul>
				<div style="bottom: 0px; position: fixed;"> <span class="glyphicon glyphicon-copyright-mark" style=""></span> Cogizant</div>
			</div>
		</div>

		<div id="main">
			<div class="header">
				<h1>Docker Deploy</h1>
                <h2>Deploy Docker Images</h2>
			</div>
            <div class="content">
				<div class="row" style="margin-top:20px;">
					<div class="col-xs-2">
						<h4>Select Docker Node:</h4>
					</div>
					<div class="col-xs-6">
						 <select id="nodes" style="min-width: 273px !important;width: 30%;clear:both;" class="form-control">
						</select>
					</div>
				</div>
				<h2 class="content-subhead">Deploy a Container From Available Images</h2>
                <div class="form-group">
                        <label for="containername" class="control-label">Container Name:</label>
                        <input type="text" class="form-control" name='name' id="containername" />
                </div>
                <div class="form-group">
                        <label for="commands" class="control-label">Commands(comma separated):</label>
                        <input type="text" class="form-control" name='name' id="commands" />
                </div>
				<div class="form-group">
                        <label for="environments" class="control-label">Environments(comma separated):</label>
                        <input type="text" class="form-control" name='name' id="environments" />
                </div>
				<div class="form-group">
                        <label for="volumes" class="control-label">Volumes(comma separated):</label>
                        <input type="text" class="form-control" name='name' id="volumes" />
                </div>
                <div class="form-group">
                    <label for="imageSelect" class="control-label">Select Image:</label>
                     <select class="form-control" name="image" id="imageSelect">

                    </select>
                </div>
                <a class='btn btn-primary' href='#' id="deployContainer">Deploy</a></td>
            </div>
        </div>

    </div>


	<script src="{% static 'js/ui.js' %}"></script>
</body>
</html>