{% load static %}{% load compress %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Automating Workload Deployment">

	<title>iManage</title>
	<script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0-rc.1/jquery-ui.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	<script src="http://malsup.github.io/jquery.blockUI.js"></script>


	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0-rc.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">


	<!--[if lte IE 8]>
				<link rel="stylesheet" href="{% static 'css/layouts/side-menu-old-ie.css' %}">
			<![endif]-->
	<!--[if gt IE 8]><!-->
	<link rel="stylesheet" href="{% static 'css/layouts/side-menu.css' %}">
	<!--<![endif]-->
	<script>
		$(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);
		$(document).ready(function (){
		    {% if messages %}
				$("#statusModal").modal("show");
			{% endif %}

            $.ajax({
                type: "GET",
                  url:"/ListGlanceImages/",
                  dataType: 'json',
                  success: function(json){
                    images = json.images;
                    for(i=0;i<images.length;i++){
                        image=images[i];
                        tr="<tr>";
                        tr+="<td>"+image.name+"</td>";
                        tr+="<td>"+(image.disk_format).toUpperCase()+"</td>";
                        tr+="<td>"+image.status+"</td>";
                        tr+="<td>"+image.visibility+"</td>";
                        tr+="<td>"+(image.size/(1024*1024)).toFixed(1)+"MB</td>";
                        tr+="</tr>";
                        $("#glanceImageTable").find("tbody").append(tr);
                    }
                    $('#glanceImageTable').DataTable({
                    "pageLength": 5
                 });
                  }
            });

            $("#imageSource").change(function(){
                if($("#imageSource").val() == "true"){
                   $("#fileSelect").show();
                   $("#urlSelect").hide();
                }else{
                    $("#fileSelect").hide();
                    $("#urlSelect").show();
                }
            });

            $("#createImage").click(function(){
                $("#createImageModal").modal("show");
            });

    });

    function migrateLiveInstances()
    {
        var server_id = document.getElementById("listInstanceSelectBox").value;
        var host = document.getElementById("listHypervisorsSelectBox").value;
        alert(server_id+","+host);
        $.ajax({
		  type: "GET",
		  url:"/migrateVM/?server_id="+server_id+"&host="+host,
		  success: function(json){
		   //alert(json)
		   alert("Live Migration Status:"+json.status);
		 } ,
		  dataType: 'json'
		});
    }

	</script>

	<style>
		.content {
			max-width: 100% !important;
		}

		.odd {
			background-color: #f0f0f0 !important;
		}

		.pure-menu-selected1{
			 background: #6f6f6f none repeat scroll 0 0;
		}

		.createSwarmModal > td{
			height: 30px;
		}

		#masterTable > tbody > tr > td {
			height: 40px;
		}

		#nodeTable > tbody > tr > td {
			height: 40px;
		}
	</style>

</head>
<body>
	<div id="layout">
		<!-- Menu toggle -->
		<a href="#menu" id="menuLink" class="menu-link"> <!-- Hamburger icon -->
			<span></span>
		</a>

		<div id="menu" style="width:165px";>
			<div class="pure-menu">
				<a class="pure-menu-heading" href="/" style="text-transform: none;">iManage</a>
				<ul class="pure-menu-list">
					<li class="pure-menu-heading" style="background: transparent none repeat scroll 0% 0%; padding: 0px;">Openstack</li>
					<li class="pure-menu-item ">
						<a href="/Images" class="pure-menu-link pure-menu-selected1">Upload Image</a></li>
					<li class="pure-menu-item">
						<a href="/app_deployment/" class="pure-menu-link">Application Deployment</a></li>
					<li class="pure-menu-item">
						<a href="/Migrate" class="pure-menu-link">Live Migration</a></li>
					<li class="pure-menu-item">
						<a href="/VNFCatalog" class="pure-menu-link">VNF Catalog</a></li>
					<li class="pure-menu-item">
						<a href="/VNFManager" class="pure-menu-link">VNF Manager</a></li>


					<li class="pure-menu-heading" style="background: transparent none repeat scroll 0% 0%; padding: 0px;">Docker</li>
					<li class="pure-menu-item"><a href="/Nodes" class="pure-menu-link">Node Management</a></li>
					<li class="pure-menu-item"><a href="/Manage"
						class="pure-menu-link">Images and Containers</a></li>
					<li class="pure-menu-item"><a href="/Build"
						class="pure-menu-link">Build</a></li>
					<li class="pure-menu-item"><a href="/Deploy"
						class="pure-menu-link">Deploy</a></li>

				</ul>
				<div style="bottom: 0px; position: fixed;"> <span class="glyphicon glyphicon-copyright-mark" style=""></span> Cogizant</div>
			</div>
		</div>

		<div id="main">
			<div class="header">
				<h1>Images</h1>
                <h2>List and Add New Images</h2>
			</div>

        </div>
		<div class="content">
            <p class="pull-left">Available images are listed below:</p>
            <button id="createImage" class="btn btn-success pull-right" style="margin-top:15px;margin-bottom:15px;">Create New Image</button>
            <div style="clear:both;"></div>
			<table id="glanceImageTable" class="pure-table" style="table-layout: fixed; word-wrap: break-word;">
                <thead>
                    <tr>
                        <th style="width:130px">Name</th>
                        <th style="width:130px">Format</th>
                        <th style="width:130px">Status</th>
                        <th style="width:130px">Visibility</th>
                        <th style="width:130px">Size</th>
                    </tr>
                </thead>

                <tbody>

                </tbody>
            </table>
		</div>

    </div>

    <div id="createImageModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Create New Image</h4>
					<span id="addSwarmNodeMaster" style="display:none;" ></span>
				</div>
                <form action="/CreateGlanceImage/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name" class="control-label">Image Name:</label>
                            <input type="text" class="form-control" name='name' id="name" />
                        </div>
                        <div id="formatSelect" class="form-group">
                            <label for="imageFormat" class="control-label">Disk Format:</label>
                            <select id="imageFormat" class="form-control ip" name='imageFormat'>
                                <option value="ami" selected>ami</option>
                                <option value="ari" selected>ari</option>
                                <option value="aki" selected>aki</option>
                                <option value="vhd" selected>vhd</option>
                                <option value="vmdk" selected>vmdk</option>
                                <option value="raw" selected>raw</option>
                                <option value="qcow2" selected>qcow2</option>
                                <option value="vdi" selected>vdi</option>
                                <option value="iso" selected>iso</option>
                            </select>
                        </div>
                        <div id="containerSelect" class="form-group">
                            <label for="containerFormat" class="control-label">Image File:</label>
                            <select id="containerFormat" class="form-control ip" name='containerFormat'>
                                <option value="ami" selected>ami</option>
                                <option value="ari" selected>ari</option>
                                <option value="aki" selected>aki</option>
                                <option value="bare" selected>bare</option>
                                <option value="ovf" selected>ovf</option>
                                <option value="ova" selected>ova</option>
                                <option value="docker" selected>docker</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="imageSource" class="control-label">Image Source:</label>
                            <select id="imageSource" class="form-control ip" name='uploadFromFile'>
                                <option value="true" selected>File</option>
                                <option value="false">URL</option>
                            </select>
                        </div>
                        <div id="fileSelect" class="form-group">
                            <label for="imageFile" class="control-label">Image File:</label>
                            <input type="file" name="imageFile" id="imageFile">
                        </div>
                        <div id="urlSelect" style="display:none;" class="form-group">
                            <label for="imageFile" class="control-label">Image File:</label>
                            <input type="text" name="imageUrl" class="form-control" id="imageUrl">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Submit"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
			</div>

		</div>
	</div>

    <div id="statusModal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Status</h4>
				</div>
				<div class="modal-body">
					{% if messages %}
						{% for message in messages %}
						<span {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</span><br>
						{% endfor %}
					{% endif %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
	<script src="{% static 'js/ui.js' %}"></script>
</body>
</html>